.DS_Store
.idea
.vscode
dist
node_modules
.env
*.log
*.bak
*.launch
mxproject
coverage
/tmp

**/results
mendixProject
**/e2e/images/diffs
**/e2e/images/actual
**/screenshot
**/screenshot-results
**/tests/testProject
**/pluggableWidgets/**/artifacts

.pnpm-debug.log*
.pnpm-store
.pnpmfile.cjs
.pnpmfile.js

.java-version