.DS_Store
.idea
.vscode
dist
node_modules
.env
*.log
*.bak
*.launch
mxproject
coverage
/tmp

**/results
mendixProject
**/e2e/images/diffs
**/e2e/images/actual
**/screenshot
**/screenshot-results
**/tests/testProject
**/pluggableWidgets/**/artifacts

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.java-version